<div *ngIf="artist">
  <div class="jumbotron text-center">
    <div *ngIf="artist?.images?.length > 0">
      <img class="rounded-circle border" src="{{ artist.images[0].url }}" />
    </div>
    <h1 class="display-2 my-4">{{ artist.name }}</h1>
    <p class="lead" *ngIf="artist?.genres?.length > 0">
      Genres:
      <span
        *ngFor="let genre of artist.genres"
        class="badge badge-pill badge-dark mx-1"
        >{{ genre }}</span
      >
    </p>
  </div>

  <div>
    <div class="row">
      <div
        *ngFor="let album of albums"
        class="col-lg-3 col-md-4 col-sm-6 bg-dark text-light card p-2"
      >
        <div>
          <div *ngIf="album?.images?.length > 0">
            <img class="card-img-top" src="{{ album.images[0].url }}" />
            <div class="card-body">
              <h5>{{ album.name }}</h5>
            </div>
            <div class="card-footer">
              <a
                class="btn btn-secondary btn-block"
                [routerLink]="['/album', album.id]"
                >Album Details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
